<md-sidenav-container>
  <md-sidenav align="start" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
    hide-print>
    <header class="nav-header">
      <!-- TODO: hardcoded link in module.. -->
      <a layout="column" [routerLink]="['/home']">
        <!-- TODO: gravatar gravatar-src="'{{currentUser.email}}'" -->
        <img class="md-avatar" />
        <h1 class="md-heading">{{currentUser.displayName}}</h1>
      </a>
    </header>
    <md-content flex role="navigation">
      <ul class="site-menu">
        <tdf-menu-toggle *ngFor="section in sections" class="menu-section" section="section"></tdf-menu-toggle>
      </ul>
    </md-content>
  </md-sidenav>
</md-sidenav-container>