<md-button class="md-button-toggle" (click)="toggle()" aria-controls="menu-{{section.name}}" aria-expanded="{{section.isOpen}}">
	<div flex layout="row">
		{{section.name}}
		<span flex></span>
		<span aria-hidden="true" class="md-toggle-icon" [ngClass]="{'toggled' : section.isOpen}">
			<md-icon md-font-icon="fa fa-fw fa-angle-down"></md-icon>
		</span>
	</div>
	<span class="md-visually-hidden">
		Toggle {{section.isOpen? 'expanded' : 'collapsed'}}
	</span>
</md-button>

<ul id="menu-{{section.name}}" class="menu-toggle-list">
	<li *ngFor="page in section.pages">
		<tdf-menu-link [page]="page"></tdf-menu-link>
	</li>
</ul>